<a href="https://colab.research.google.com/github/hermannkakapeu/STAT_for_ML_and_DL/blob/main/Entrainement_1_parametres_stat_description_de_varable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### ANALYSE UNIVARIEE

l'analyse univariée est la forme la plus simple de l'analyse statistique dont l'objectif est de décrire chacune des variables sans tenir compte des rélations existantes entre ces dernières. On traite les variable de facon individuel.

Dans cette partie nous apprenons à calculer les stat usuels utilisées pour décrire les données.
---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
#donnees se trouvant dans seaborn

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
tips_df = sns.load_dataset('tips')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
tips_df['tip'].mean()

2.99827868852459

In [7]:
tips_df['tip'].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

le premier quartile est une valeur qui indique que 25% des tips sont inférieurs à cette valeur . pareil

In [12]:
# distribution de fréquence de la variable TIP

tips_df['tip'].value_counts()

2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: tip, Length: 123, dtype: int64

In [13]:
# distribution de frequence en terme de pourcentage

tips_df['tip'].value_counts(normalize=True)

2.00    0.135246
3.00    0.094262
4.00    0.049180
5.00    0.040984
2.50    0.040984
          ...
4.34    0.004098
1.56    0.004098
5.20    0.004098
2.60    0.004098
1.75    0.004098
Name: tip, Length: 123, dtype: float64

In [15]:
#etendue de la variable 
print(tips_df['tip'].max() - tips_df['tip'].min())

# variance 
print(tips_df['tip'].var())

# ecart type 
print(tips_df['tip'].std())

9.0
1.914454638062471
1.3836381890011822

In [16]:
#methodes pour calculer individuellement les quartiles

tips_df['tip'].quantile(0.25)

2.0

25% des pourboires sont inférieurs à 2 dollars

In [17]:
#une autre methode avec numpy 

np.quantile(tips_df['tip'], 0.5)

2.9

In [18]:
np.quantile(tips_df['tip'], [0.25, 0.5, 0.75])

array([2.    , 2.9   , 3.5625])

In [19]:
# IQR : gamme iterquartiles (hauteur de la moustache) 3em quartile moins 1er quartile

from scipy import stats

stats.iqr(tips_df['tip'])

1.5625

In [21]:
# si on enleve l'option 'all' , cette fonction naffiche que les résultats pour les variables quantitatives.

tips_df.describe(include = 'all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [24]:
#dtatframe des client qui viennent uniquement du weekend 

df_week = tips_df[(tips_df['day']=="Sun") | (tips_df['day']=="Sat")]
df_week

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

In [25]:
# calculer la consommation moyenne des client qui viennent le weekend

df_week.groupby('day')['total_bill'].agg(['mean', 'median'])

           mean  median
day
Thur        NaN     NaN
Fri         NaN     NaN
Sat   20.441379   18.24
Sun   21.410000   19.63